//Palette
$primaryColor: #5f6368;

//Typo
$headingColor: #3c4043;
$textColor: #000;

$fontLight: 300;
$fontReg: 400;
$fontBold: 500;

$headingS: 18px;
$headingM: 22px;
$headingL: 24px;

$pS: 14px;
$pM: 16px;



